@using FinanceApp.Entities.Concrete;
@model ICollection<Monthly>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Monthly Actions</h1>
<a class="btn btn-success" asp-action="CreateMonthly" asp-controller="home" asp-area="">Add New Monthly Action</a>
<br />
<h4><strong>Those whose installment number is unknown</strong></h4>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Amount</th>
            <th>Create Date</th>
            <th>Action's Type</th>
            <th>Remaining Installments</th>
            <th>Payment Day</th>
            <th>Categories</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.Status == true && item.Installment > 9999)
            {
                <tr>
                    <td>@item.Amount</td>
                    <td>@item.CreateDate</td>
                    @if (@item.Type == Tip.Giris)
                    {
                        <td>Income</td>
                    }
                    else
                    {
                        <td>Outgoing</td>
                    }

                    <td>Infinite</td>
                    <td>@item.PaymentDay</td>
                    <td>@item.Categories</td>
                    <td>
                        @*  <a class="btn btn-success" asp-route-id="@item.Id" asp-action="Update">Update</a>*@
                        <a class="btn btn-danger" asp-route-id="@item.Id" asp-action="Delete">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>

</table>

<h4><strong>Those whose installment number is limited</strong></h4>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Amount</th>
            <th>Create Date</th>
            <th>Action's Type</th>
            <th>Remaining Installments</th>
            <th>Payment Day</th>
            <th>Categories</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.Status == true && item.Installment < 9999&&item.Installment>0)
            {
                <tr>
                    <td>@item.Amount</td>
                    <td>@item.CreateDate</td>
                    @if (@item.Type == Tip.Giris)
                    {
                        <td>Income</td>
                    }
                    else
                    {
                        <td>Outgoing</td>
                    }

                    <td>@item.Installment</td>
                    <td>@item.PaymentDay</td>
                    <td>@item.Categories</td>
                    <td>
                        @*  <a class="btn btn-success" asp-route-id="@item.Id" asp-action="Update">Update</a>*@
                        <a class="btn btn-danger" asp-route-id="@item.Id" asp-action="Delete">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>

</table>

<h4><strong>Finished Actions</strong></h4>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Amount</th>
            <th>Create Date</th>
            <th>Action's Type</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>Payment Day</th>
            <th>Categories</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.Status == true && item.Installment == 0)
            {
                <tr>
                    <td>@item.Amount</td>
                    <td>@item.CreateDate</td>
                    @if (@item.Type == Tip.Giris)
                    {
                        <td>Income</td>
                    }
                    else
                    {
                        <td>Outgoing</td>
                    }

              
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>@item.PaymentDay</td>
                    <td>@item.Categories</td>
                    <td>
                        @*  <a class="btn btn-success" asp-route-id="@item.Id" asp-action="Update">Update</a>*@
                        <a class="btn btn-danger" asp-route-id="@item.Id" asp-action="Delete">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>

</table>