@model FinanceApp.MVC.Areas.Admin.Models.InfoModelDTO
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h3>Welcome To Personel Info Page "@Model.Username"</h3>

<p>
    To Change Password Please Click <a asp-action="ChangePassword" asp-controller="info" class="btn btn-primary">Change Password</a>
</p>

<h4>Edit Personal Infos and Datas</h4>
<form method="post" asp-action="Day">
    <div class="form-group">
        <label>Choose the Credit Card Deadline Day</label>
        <select asp-for="@Model.LastDay" id="daySelect">
            <option value="">Choose the Last Payment Day</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
        </select>
    </div>
    <input type="submit" value="Save" class="btn btn-danger">
</form>
<form asp-action="Save" asp-controller="Info" method="post">
    <div class="form-group">
        <label asp-for="@Model.LastDay" class="control-label">Credit Card Deadline Day of Payment:</label>
        <input asp-for="@Model.LastDay" class="form-control" disabled />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Balance" class="control-label">Balance:</label>
        <input asp-for="@Model.Balance" class="form-control" disabled />
    </div>

    <div class="form-group">
        <label asp-for="@Model.TotalIncome" class="control-label">Total Income:</label>
        <input asp-for="@Model.TotalIncome" class="form-control" type="number" step="0.01" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.TotalOutgoing" class="control-label">Total Outgoing:</label>
        <input asp-for="@Model.TotalOutgoing" class="form-control" type="number" step="0.01"/>
    </div>

    <div class="form-group">
        <label asp-for="@Model.Cash" class="control-label">Cash:</label>
        <input asp-for="@Model.Cash" class="form-control" type="number" step="0.01" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.CreditDebt" class="control-label">Credit Debt:</label>
        <input asp-for="@Model.CreditDebt" class="form-control" type="number" step="0.01" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.CreditCardInterest" class="control-label">Credit Card Interest:</label>
        <input asp-for="@Model.CreditCardInterest" class="form-control" type="number" step="0.01" />
    </div>

    <div class="form-group">
        <label asp-for="Username" class="control-label">Username:</label>
        <input asp-for="Username" class="form-control" />
    </div>
    <div class="form-group">
        <label> 
If you want your credit card debt to be multiplied and added automatically when the due date comes, click here.</label>
        <input type="checkbox" id="newCategoryCheckbox" asp-for="@Model.deadline" />
        <label>*(Dont Forget to Click Save From Below)*</label>
        
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>