@using FinanceApp.Entities.Concrete;
@model ICollection<Category>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<a class="btn btn-success" asp-action="Add">Add New Category</a>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Category Name</th>
            <th>Category Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>
                    <a class="btn btn-success" asp-route-id="@item.Id" asp-action="Update">Update</a>
                    <a class="btn btn-danger" asp-route-id="@item.Id" asp-action="Delete">Sil</a>
                </td>
            </tr>
        }
    </tbody>

</table>
