@using FinanceApp.BL.Abstract;
@using FinanceApp.DAL.Context;
@using Microsoft.AspNetCore.Identity;
@model FinanceApp.MVC.Models.EntryModel
@inject ICategoryManager categoryManager;
@inject UserManager<AppUser> userManager;
@inject IEntryManager entryManager;
@inject SqlDbContext dbContext;
@{
	var user = await userManager.GetUserAsync(User);
	var entries = await entryManager.GetAllInclude(null, e => e.Categories);
	foreach (var entry in entries) 
	{
		var str = "";
	}
	var categoriesWithAppUserID = await categoryManager.GetAll(x => x.AppUserId == user.Id);
	var itemsFromDatabase = dbContext.Categories.Select(item => item.Name).ToList();
	var selectListItems = itemsFromDatabase.Select(item => new SelectListItem { Text = item, Value = item }).ToList();
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


<div class="bg-success">
    <h3> Enter Your Action</h3>

    <form method="post" asp-action="Entry">
        <div>
            <label asp-for="@Model.name">Entry name</label>
            <input asp-for="@Model.name" required />
            <span asp-validation-for="@Model.name"></span>
        </div>
        <div>
            <label asp-for="@Model.Amount">Amount</label>
            <input asp-for="@Model.Amount" required />
            <span asp-validation-for="@Model.Amount"></span>
        </div>
		@*
        <div>
            Choose the Type of Entry: @Html.DropDownListFor(x=>x.Type,new [] {	new SelectListItem(){Text ="Income",Value="1"}, new SelectListItem(){Text ="Outgoing",Value="2"}}))
        </div>
        <div>
            Choose the Type of Money: @Html.DropDownListFor(x=>x.TypeMoney,new [] {	new SelectListItem(){Text ="Income",Value="1"}, new SelectListItem(){Text ="Outgoing",Value="2"}}))
        </div> 
       *@ 
		<select class="form-select" asp-for="@Model.Type">
			<option selected>Bir tip seçiniz</option>
			<option value="1">Giriş</option>
			<option value="2">Çıkış</option>
		</select>
		<select class="form-select" asp-for="@Model.TypeMoney">
			<option selected>Bir ödeme şekli seçiniz</option>
			<option value="1">Nakit</option>
			<option value="2">Kredi Kartı</option>
		</select> 
		<div>
		<select asp-for="Categories" asp-items="selectListItems" multiple></select>
		</div>
        <input type="submit" value="Save" class="btn btn-danger">
    </form>
</div>

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@*
	@using (Html.BeginForm())
	{
	@Html.ValidationSummary()
	{
	<p>Entry Name:@Html.TextBoxFor(x=>x.name)</p>
	<p>Entry Amount:@Html.TextBoxFor(x=>x.Amount)</p>
	<p>
	Choose the Type of Entry: @Html.DropDownListFor(x=>x.Type,new [] {
	new SelectListItem(){Text ="Income",Value="1"},
	new SelectListItem(){Text ="Outgoing",Value="2"}

	},"Please Choose an Option")
	</p>
	<p>
	Choose the Type of Balance: @Html.DropDownListFor(x=>x.TypeMoney,new [] {
	new SelectListItem(){Text ="Cash",Value="1"},
	new SelectListItem(){Text ="Credit Card",Value="2"}

	},"Please Choose an Option")
	</p>
	<p>
	Choose the Type of Balance: @Html.DropDownListFor(x=>x.Category,new [] {
	new SelectListItem(){Text ="Cash",Value="1"},

	},"Please Choose a Category")
	</p>
	}
	<input type="submit" value="Save" class="btn btn-danger">
	}
	*@
